div.empty-cart{
    align-items: center;
    /* display: flex; */
    flex-direction: column;
    height: calc(100vh - 18vh);
    justify-content: center;
    width: 100%;
}

div.empty-cart > img{
    height: 100px;
    margin-bottom: 20px;
    width: 100px;
}

div.empty-cart > h1{
    font-size: 2.4rem;
}

div.empty-cart > p{
    font-size: 1.8rem;
    margin-bottom: 30px;
}

div.empty-cart > button{
    background: var(--white);
    border: 1px solid var(--dark-blue);
    cursor: pointer;
    font-size: 1.6rem;
    padding: 15px;
    text-transform: uppercase;
}