div.address-section{
    width: 30%;
}

div.address-card{
    background: #f5f5f5;
    border-radius: 5px;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 10%);
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
    width: 100%;
}

div.card-body__address{
    border-bottom: 2px solid #ebebeb;
    line-height: 25px;
    margin: 0 auto 20px;
    padding: 10px 0;
    text-align: left;
    width: 90%;
}

div.card-body__address > h2{
    font-size: 1.65rem;
    font-weight: 600;
    text-transform: capitalize;
}

div.address-card > span{
    font-size: 1.4rem;
}
